@using PSF.Dominio.Entities;

@{
    ViewData["Title"] = "Raca";
}

@model List<Raca>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome Raça</th>
            <th>Tamanho Raça</th>
            <th>Porte</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.NomeRaca
                </td>
                <td>
                    @item.Tamanho
                </td>
                <td>
                    @item.Porte.ToString()
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" asp-action="Excluir" asp-controller="Raca" asp-route-id="@item.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    
                </td>
            </tr>       
        }
        <a class="btn btn-xs" asp-controller="Raca" asp-action="Inserir">
            <i class="glyphicon glyphicon-trash"></i>
            Novo Cadastro
        </a>

    </tbody>
</table>